extends base

block content
 h1  Beloveds
 main
  .header
   h2 Action Required :One-Time Verification Code
   p  You are receiving this email because a request was made one-time code that can be used for authentication.
   strong  please enter the following code for verification:
   h1 590656
 footer
 
  p If you have any questions, concerns, or require assistance, please do not hesitate to contact  Support
  p rami.sultana@gmail.com
  p 949574984