doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Email
  body(style="margin: 0; padding: 0; font-family: Arial, sans-serif; line-height: 1.6; background-color: #f1f3f5;")
    table(style="width: 100%; max-width: 600px; margin: 0 auto; background-color: #fff; padding: 1rem;")
      tr
        td(style="text-align: center;")
          h1(style="color: #580ef6;") Beloveds
      tr
        td(style="padding: 1rem; text-align: left;")
          h2(style="font-size: 1.6rem; overflow-wrap: break-word;") Action Required: One-Time Verification Code
          p You are receiving this email because a request was made for a one-time code that can be used for authentication.
          strong Please enter the following code for verification:
          h1(style="color: #580ef6; text-align: center;") #{ticketvervicationCode}
      tr
        td(style="font-size: 1rem; text-align: center; padding: 1rem;")
          p If you have any questions, concerns, or require assistance, please do not hesitate to contact Support.
          p rami.sultana@gmail.com
          p 949574984
